<h1>Create credentials</h1>
<form action="/<%=controller%>/credentials" method="POST">
    <div>
        <div>credentials json</div>
        <textarea name="data" id="" cols="30" rows="10"></textarea>
    </div>
    <div>
        <label>Sheet id</label>
        <input name="sheetid">
    </div>
    <button class="btn btn-primary" type="submit">create</button>
</form>