<h1>Project</h1>
<%=project[1]%>
<h1>Members</h1>

<div class="container text-center">
    <div class="row card-header">
        <div class="col-6">email</div>
        <div class="col-2">status</div>
        <div class="col-2"><a class="btn btn-primary" href="/<%=controller%>/">Project</a></div>
    </div>
    <% data.map((e,i)=>{
       
        %>
        <div class="row">
            <div class="col-6"><%=e[1]%></div>
            <div class="col-2"><%=e[2]%></div>
            <div class="col-2">
            </div>
        </div>
        <%})%>
</div>