<footer class="blog-footer">
  <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>

  <ul>
  <% for(var k in config.footer){ %>
    <li><b><%=k %></b> <%=config.footer[k] %> </li>
  <% } %>
  </ul>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>