<!-- <div class="bd-toc mt-4 mb-5 my-md-0 ps-xl-3 mb-lg-5 text-muted"> -->
    <strong class="d-block h6 my-2 pb-2 border-bottom">On this page</strong>
    <nav id="TableOfContents">
      <ul>
        <li><a href="#theme-colors">Theme colors</a></li>
        <li><a href="#all-colors">All colors</a>
          <ul>
            <li><a href="#notes-on-sass">Notes on Sass</a></li>
          </ul>
        </li>
        <li><a href="#color-sass-maps">Color Sass maps</a>
          <ul>
            <li><a href="#example">Example</a></li>
          </ul>
        </li>
        <li><a href="#generating-utilities">Generating utilities</a></li>
      </ul>
    </nav>
<!-- </div> -->